* {
	box-sizing: border-box;
}
html { 
  background: url(starwars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body, .content-overlay, .content-overlay-list {
	font-family: 'Roboto', sans-serif;
}
ul.column-one, ul.column-two, ul.column-three {
	width: 100%;
}
li {
	text-align: center;
	margin-bottom: 5px;
}
input {
  margin-bottom: 1em;
  width: 75%;
  max-width: 300px;
  min-width: 150px;
}
button {
  width: 30%;
  max-width: 130px;
  min-width: 80px;
}
li a {
	text-decoration: none;
	color: #bab260;	
}
li a:hover, .view-list a:hover {
	color: white;
}
.character-image, .character-details {
	vertical-align: center;
	height: 100%;
}
.title-search {
	width: 70%;
	background-color: rgba(19,19,19,0.8);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title-search a {
	text-decoration: none;
	color: #bab260;
}
h1 {
	font-size: 2em;
}
header {
	padding: 45px 0;
	color: #bab260;
}
form {
	padding-bottom: 30px;
}
.content {
    position: absolute;
    z-index: 500;
}
.view-list {
	padding-bottom: 60px;
}
.content-title, header, form, .view-list{
    text-align: center;
}
.overlay-large, .content-overlay, .character-list, .overlay-large-list, .content-overlay-list {
    visibility: hidden;
}
.overlay-large, .overlay-large-list {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 3;
}

.close-box {
	text-align: center;
	display: inline-block;
	font-size: 2em;
	position: absolute;
	color: #d3d1ca;
	height: 50px;
	width: 50px;
	top: 5%;
	left: 95%;
	transform: translate(-50%, -50%); 
	z-index: 1000;
	cursor: pointer;
}
.content-overlay, .content-overlay-list {
	position: absolute;
	width: 80%;
	height: 100%;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	z-index: 100;
	background-color: rgba(0,0,0,.9);
	color: #d3d1ca;
	padding: 0 20px;
	overflow: scroll;
	overflow-x: hidden;
}
.character-image, .character-details {
	text-align: center;
	display: inline-block;
}
.article, .character-details, ul {
	font-size: 1em;
}
ul {
	list-style: none;
	padding: 0;
}

img {
	max-height: 75%;
	max-width: 75%;
}